@(comment: String)

@maxCommentLength = @{controllers.Application.getMaxCommentLength()}
@phTxtComment = @{""}
@helpBtnPost = @{"[Ctrl]+[Enter] または [command]+[enter] でも投稿可能です"}

@main("Anonymous Comment System") {

<input type="hidden" id="hid-max-comment-length" value="@maxCommentLength" />

<div id="comment-form" class="form-actions">
  <div id="thread-id">Thread-ID<input type="text" name="thread-id" id="txt-thread-id" value="default" /></div>
  <textarea name="comment" id="txt-comment" placeholder="@phTxtComment" title="@helpBtnPost"></textarea>
  <input type="button" id="btn-post" class="btn btn-primary" value="投 稿" title="@helpBtnPost" />
  <div id="rest-number"></div>
</div>

<div id="information-comment"></div>
<div id="error-comment error"></div>

<table id="table-comment-list" class="table">
  <thead id="table-comment-list-head">
    <tr>
      <th class="col-comment">コメント</th>
      <th class="col-timestamp">投稿日時</th>
    </tr>
  </thead>

  <tbody id="table-comment-list-body"></tbody>

</table>

}
